#wrap {
    width: 100%;
}

header {
    width: 100%;
    height: 130px;
    background-color: #ffffff7e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 5px 5px 5px 1px #3535350a;
}

#in_header {
    margin: 0 auto;
    width: 95%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo>a:nth-child(2) {
    display: none;
}


#gnb{
    width: 953px;
    font-weight: 600;
}

#lange, .users_icon {
    margin-right: 30px;
}

#lange {
    display: flex;
    align-items: center;
}

#lange>h1 {
    font-size: 16px;
    font-weight: 500;
    margin-right: 11px;
}

#menu_bar {
    width: 100%;
    height: 100%;
}

.header_line {
    display: block;
    width: 23px;
    height: 2px;
    background-color: #353535;
}

.header_line:nth-child(2) {
    margin: 7px;
}

#menu_bar {
    display: none;
}

#btn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_btn, #top_btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_btn {
    width: 60px;
    height: 60px;
    background-color: #F4F4F4;
    font-size: 14px;
    font-weight: 600;
}

#top_btn {
    width: 80px;
    height: 80px;
    background-color: #204C2F;
    margin-top: 16px;
}


/* ========== header end ========== */

#section_1 {
    position: relative;
    top: 0;
    left: 0;
}

#section_1 {
    width: 100%;
    height: 730px;
    background-color: #204C2F;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin-top: 130px;
}

#se1_con {
    /* width: 50%; */
    padding: 235px 0 0 212px;
    box-sizing: border-box;
    position: absolute;
    z-index: 98;
}


.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #ff6c6c; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.se1_img, .se2_img, .se3_img, .se4_img {
    background-repeat: no-repeat;
}

.se1_img {
    background-image: url(../frienderma_img/1920_se1_img.png);
}

.se2_img {
    background-image: url(../frienderma_img/se1_img2.png);
}

.se3_img {
    background-image: url(../frienderma_img/se1_img3.png);
}

.se4_img {
    background-image: url(../frienderma_img/se1_img4.png);
}

#se1_con>h1 {
    font-size: 65px;
    line-height: 90px;
    margin-bottom: 19px;
}

#se1_con>p {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 40px;
}

#se1_1280con {
    display: none;
}

/* ========== section_1 end ========== */

#section_2 {    
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#se2_con {
    width: auto;
    margin: 263px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#se2_con>h1 {
    font-size: 85px;
    margin-bottom: 23px;
    color: #204C2F;
    font-family: 'nanum pen script';
    font-weight: 500;
    text-align: center;
}

#se2_con>p {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

/* ========== section_2 end ========== */

#section_3 {
    max-width: 1920px;
    height: 773px;
    background-image: url(../frienderma_img/se3_backimg.png);
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: flex-end; */
    overflow: hidden;
    justify-content: center;
}

#se3_left_box {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* margin: 245px 132px 0 0; */
    padding-right: 132px;
    box-sizing: border-box;
}

#se3_left_box>h1 {
    font-size: 65px;
    font-weight: 900;
    color: #204D2F;
}

#se3_left_box>p {
    font-size: 20px;
    text-align: right;
    line-height: 35px;
}

.plus_box {
    border: 1px solid #7E9485;
    border-radius: 3px;
    padding: 16px 28px;
    margin-top: 35px;
}

.plus_box>p {
    font-size: 16px;
    color: #7E9485;
    font-weight: 400;
}

/* #se3_right_box {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
} */

.se3_backbox {
    width: 100%;
    height: 637px;
    background-color: #EAE5DF;
    margin: 68px 0;
    position: absolute;
    z-index: -1;
}

.se3_img_con {
    width: 607px;
    height: 773px;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../frienderma_img/se3_img.png);
}

/* ========== section_3 end ========== */

#section_4 {
    max-width: 1920px;
    height: 773px;
    background-image: url(../frienderma_img/se4_backimg.png);
    background-repeat: no-repeat;
    margin-top: 74px;
    display: flex;
    /* justify-content: flex-end; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#se4_left_box {
    height: 100%;
    /* position: relative;
    top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.se4_backbox {
    width: 100%;
    height: 637px;
    background-color: #EAE5DF;
    position: absolute;
    z-index: -1;
}

.se4_img_con {
    background-image: url(../frienderma_img/se4_img\ \(1\).png);
    width: 607px;
    height: 773px;
    /* position: absolute;
    top: 0;
    right: 0; */
}

#se4_right_box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 132px;
}

#se4_right_box>h1 {
    font-size: 65px;
    font-weight: 900;
    color: #204D2F;
}

#se4_right_box>p {
    font-size: 20px;
    text-align: left;
    line-height: 35px;
}

/* ========== section_4 end ========== */

#section_5 {
    max-width: 1920px;
    height: 100%;
    margin-top: 223px;
}

#se5_wrap {
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 145px 287px;
    box-sizing: border-box;
}

#se5_top {
    width: 100%;
}

/* #se5_top>h1 {
    font-size: 48px;
    font-weight: 900;
    color: #204C2F;
    margin-bottom: 9px;
}

#se5_top>p {
    font-size: 20px;
    font-weight: 400;
} */

.se5_bottom, .se5_bottom2  {
    /* width: 1346px; */
    /* background-color: #7E9485; */
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.se5_bottom2 {
    margin-left: 70px;
}

.se5_bottom_wrap {
    display: flex;
    /* overflow: scroll; */
    white-space: nowrap;
    overflow-x: auto;
}

.se5_bottom>li, .se5_bottom2>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    font-size: 20px;
}

.se5_bottom>li:nth-child(4), .se5_bottom2>li:nth-child(4) {
    margin: 0;
}

.se5_bottom_con {
    width: 175px;
    height: 175px;
    /* background-color: #ffffff; */
    margin-bottom: 21px;
    overflow: hidden;
    border-radius: 15px;
}

.se5_bottom_con>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.2s linear;
}

.se5_bottom_con:hover>img {
    margin: 0 auto;
    transform: scale(1.05);
}

.se5_bottom_wrap0>.plus_box {
    position: absolute;
    top: 280px;
    right: 0;
}

.se5_bottom_wrap0 {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* ========== section_5 end ========== */

#se6_wrap {
    max-width: 1920px;
    /* background-color: aliceblue; */
    padding: 224px 287px 160px;
    box-sizing: border-box;
    color: #353535;
}

#se6_bottom_con {
    width: 100%;
    /* background-color: #353535; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 32px;
}

.se6_bottom_cons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #204C2F; */
    overflow: hidden;
}

.se6_bottom_cons>li {
    margin-right: 10px;
    border: 1px solid #E9E7E7;
    border-radius: 10px;
    padding: 12px 14px 14px 14px;
    box-sizing: border-box;
}

.se6_bottom_cons>li:nth-child(4) {
    margin: 0;
}

.se6_cons {
    width: 282px;
    height: 454px;
    margin-right: 1%;
}

.se6_cons>img {
    width: 282px;
    /* height: 228px; */
    border-radius: 8px;
    background-color: #EAE5DF;
}

.se6_cons>h1 {
    font-size: 14px;
    margin: 25px 0 13px 0;
    color: #204C2F;
}

.se6_cons>h2 {
    font-size: 18px;
    font-weight: 500;
}

.se6_cons>h3 {
    font-size: 16px;
    font-weight: 300;
    color: #747474;
}

.se6_cons>h4 {
    font-size: 14px;
    font-weight: 300;
    color: #BDBDBD;
}

.se6_con12 >h3 {
    margin: 4px 0 23px 0;
}

.se6_con34>h3 {
    margin: 29px 0 23px 0;
}

/* ========== section_6 end ========== */

#se7_wrap {
    max-width: 1920px;
    padding: 0 0 110px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#se7_top>h1, #se7_top>p {
    text-align: center;
}

#se7_bottom {
    width: auto;
    margin-top: 79px;
}

#se7_bottom>img {
    width: 100%;
}

#se7_bottom2 {
    display: none;
}

/* ========== section_7 end ========== */

#se8_wrap {
    max-width: 1920px;
    background-color: #F6F6F6;
    padding: 62px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #353535;
}

#se8_con {
    width: auto;
    /* background-color: #7E9485; */
    display: flex;
    margin: 53px 0;
}

#se8_left_con {
    width: 363px;
    height: 365px;
    /* background-color: aquamarine; */
}

#se8_right_con {
    width: 489px;
    height: 412px;
    margin-left: 74px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.se8_bottom1 {
    /* background-color: coral; */
    margin: 29px 0 18px 0;
}

.se8_bottom1>li {
    display: flex;
    justify-content: space-between;
}

.se8_bottom1>li>h4 {
    padding: 17px 0;
}

.se8_bottom1>li>h5 {
    width: 298px;
    height: 50px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 18px;
    color: #BDBDBD;
    font-weight: 400;
}

#se8_bottom2 {
    display: flex;
    align-items: center;
}

#se8_box {
    width: 10px;
    height: 10px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    margin-right: 21px;
}

#se8_click {
    width: 363px;
    height: 59px;
    background-color: #465D51;
    border-radius: 3px;
    text-align: center;
    line-height: 59px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

#se8_top1>h1 {
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: 400;
}

#se8_top1>h1>span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #204C2F;
    margin-right: 10px;
    display: block;
}

#se8_top1>h2 {
    font-size: 39px;
    color: #204C2F;
    margin: 3px 0 4px 0;
    font-weight: 600;
}

#se8_top1>h3 {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 400;
}

#se8_top2>p {
    font-size: 14px;
    color: #747474;
    line-height: 25px;
}

.se8_bottom1>h4, #se8_bottom2>p {
    font-size: 16px;
}

.se8_bottom1>h5 {
    font-size: 14px;
    color: #BDBDBD;
}

#se8_right_con {
    padding: 25px 30px 0 30px;
    box-sizing: border-box;
}

#se8_right_con>h1 {
    font-size: 16px;
    color: #204C2F;
    font-weight: 400;
    margin-bottom: 21px;
}

#se8_right_con>p {
    font-size: 14px;
    color: #BDBDBD;
    margin-left: 14px;
    font-weight: 300;
}

#se8_line {
    border-bottom: 1px dashed #465D51;
    margin: 23px 0 20px 0;
}

#se8_1280click {
    display: none;
}

#se8_1280_p {
    display: none;
}

/* ========== section_8 end ========== */

#fot_wrap {
    max-width: 1920px;
    background-color: #465D51;
    padding: 26px 13% 39px;
    box-sizing: border-box;
}

#fot_top_left {
    display: flex;
}

#fot_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fot_logo {
    margin-right: 80px;
}

#fot_top_left>h1 {
    font-size: 15px;
    font-weight: 500;
    color: #BDBDBD;
    display: flex;
    align-items: center;
}

#fot_top_left>h1>span {
    display: block;
    width: 1px;
    height: 18px;
    background-color: #BDBDBD;
    margin: 0 25px;
}

.fot_top_icon {
    display: flex;
}

.fot_top_icon>li {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    background-color: #ffffff41;
    display: flex;
    padding: 20px;
    box-sizing: border-box;    
}

.fot_top_icon>li:nth-child(2) {
    margin: 0 10px;
}

#fot_mid {
    margin: 40px 0 33px 0;
    color: #BDBDBD;
}

#fot_mid_h {
    display: flex;
}

#fot_mid_h>li:nth-child(2) {
    margin: 0 87px;
}

#fot_mid_h>li>h1 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 34px;
}

#fot_mid_h>li>.fot_mid_p>h2 {
    font-size: 35px;
    font-weight: 500;
}

#fot_mid_h>li>.fot_mid_p>p {
    color: #BDBDBD;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
}

#fot_mid_h>li>.fot_mid_p4>h3 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.fot_mid_p4>p, .fot_mid_p4>h3 {
    font-size: 15px;
    color: #BDBDBD;
    margin-top: 10px;
    font-weight: 300;
}

#fot_line {
    width: 100%;
    border: 0.8px solid #BDBDBD;
} 

#fot_bottom {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

#fot_bottom>p {
    color: #BDBDBD;
    font-size: 15px;
}


/* ========== footer end ========== */

@media all and (max-width: 1700px) {
    #se2_con>h1 {
        font-size: 5vw;
    }
}

@media all and (max-width: 1280px) {

    header, #in_header {
        height: 90px;
    }

    #gnb, #lange, .users_icon {
        display: none;
    }

    #logo>a:nth-child(1) {
        display: none;
    }

    #logo>a:nth-child(2) {
        display: block;
    }

    #menu_bar {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }

    #btn{
        display: none;
    }

    /* 1280px header end */

    #section_1 {
        height: 913px;
        margin-top: 90px;
        position: relative;
        top: 0;
        left: 0;
    }

    #se1_1280con>p {
        color: #FFFFFF;
    }

    .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .se1_img {
        background-image: url(../frienderma_img/se1_1280img.png);
    }
    
    .se2_img {
        background-image: url(../frienderma_img/se1_1280img2.png);
    }
    
    .se3_img {
        background-image: url(../frienderma_img/se1_1280img3.png);
    }
    
    .se4_img {
        background-image: url(../frienderma_img/se1_1280img4.png);
    }
    
    #se1_con {
        display: none;
    }

    #section_1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #se1_1280con {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        z-index: 99;
    }

    #se1_1280con>h1 {
        font-size: 50px;
        line-height: 50px;
        font-weight: 900;
    }

    #se1_1280con>p {
        font-size: 30px;
        font-weight: 200;
    }
    

    /* 1280px section_1 end */

    #se2_con {
        width: 90%;
        margin: 95px auto 153px auto ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #se2_con>h1 {
        font-size: 50px;
        margin-bottom: 23px;
    }
    
    #se2_con>p {
        font-size: 18px;
        line-height: 35px;
    }

    /* 1280px section_2 end */

    #section_3 {
        max-width: 1280px;
        height: 896px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 23px;
        box-sizing: border-box;
        background-image: none;
        justify-content: space-between;
    }


    br{
        display: inline-block;
 
        content: " ";
 
        padding: 0 0;
     }

    .se3_backbox {
        display: none;
    }

    .se3_img_con {
        width: 100%;
        background-image: url(../frienderma_img/se3_1280_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
    }

    #se3_left_box {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }

    #se3_left_box>h1 {
        font-size: 50px;
    }

    #se3_left_box>p {
        font-size: 20px;
        text-align: left;
    }


    /* 1280px section_3 end */

    #section_4 {
        max-width: 1280px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 23px;
        box-sizing: border-box;
        background-image: none;
        justify-content: space-between;
        align-items: flex-start;
    }


    br{
        display: inline-block;
 
        content: " ";
 
        padding: 0 0;
     }

    .se4_backbox {
        display: none;
    }

    .se4_img_con {
        width: 1234px;
        height: 630px;
        background-image: url(../frienderma_img/se4_1280_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
    }

    #se4_right_box {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    #se4_right_box>h1 {
        font-size: 50px;
    }

    #se4_right_box>p {
        font-size: 20px;
    }

    .plus_box {
        border: 1px solid #7E9485;
        border-radius: 3px;
        padding: 16px 34px;
        margin-top: 35px;
    }

    .plus_box>p {
        font-size: 14px;
    }

    /* 1280px section_4 end */

    #section_5 {
        width: 100%;
        /* height: 805px; */
    }

    #se5_wrap {
        display: flex;
        width: 100%;
        padding: 98px 23px 0;
        align-items: center;
    }

    #se5_top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #se5_top>h1 {
        font-size: 36px;
        text-align: center;
    }

    #se5_top>p {
        font-size: 16px;
        margin: 11px 0 57px 0;
        text-align: center;
    }

    .se5_bottom_wrap {
        width: 100%;
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        flex-direction: column;
    }

    .se5_bottom {
        padding: 0;
        display: flex;
        margin: 0;
    }

    .se5_bottom2 {
        margin: 50px 0;
    }

    .se5_bottom_con {
        width: 137px;
        height: 137px;
        /* background-color: #ffffff; */
        margin-bottom: 19px;
        border-radius: 10px;
    }

    .se5_bottom>li, .se5_bottom2>li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 60px;
    }

    .se5_bottom_wrap0>.plus_box {
        display: none;
    }   

    /* 1280px section_5 end */

    #se6_wrap {
        padding: 157px 36px;
        display: flex;
        flex-direction: column;
    }

    #se6_bottom_con {
        display: flex;
        align-items: center;
    }

    #se6_bottom_cons {
        width: 1200px;
    }

    .se6_cons>img {
        width: 359px;
        /* height: 290px; */
    }

    .se6_cons {
        width: 100%;
        height: 100%;
    }

    #se6_top_con>h1 {
        font-size: 36px;
        text-align: center;
    }

    #se6_top_con>p {
        font-size: 16px;
        margin: 11px 0 57px 0;
        text-align: center;
    }

    .se6_cons>h1 {
        font-size: 14px;
        margin: 25px 0 13px 0;
    }
    
    .se6_cons>h2 {
        font-size: 16px;
        font-weight: 500;
    }

    .se6_cons>h3, .se6_cons>h4 {
        font-size: 14px;
    }
    
    .se6_con12 >h3 {
        margin: 39px 0 28px 0;
    }
    
    .se6_con34>h3 {
        margin: 60px 0 28px 0;
    }

    .se6_bottom_cons>li:nth-child(2) {
        margin: 0 17px;
    }

    .se6_bottom_cons>li:nth-child(4) {
        display: none;
    }
    
    /* 1280px section_6 end */

    #se7_top>h1 {
        font-size: 36px;
        text-align: center;
    }

    #se7_top>p {
        font-size: 16px;
        margin: 11px 0 0 0;
        text-align: center;
    }

    /* 1280px section_7 end */

    #se8_right_con, #se8_bottom2, #se8_left_bottom, #se8_click {
        display: none;
    }

    #se8_left_con {
        /* width: 100%; */
        width: 482px;
        height: 100%;
    }

    #se8_left_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #se8_top1 {
        margin-right: 14%;
    }

    #se8_top1>h3 {
        font-size: 14px;
    }

    #se8_top2>p {
        font-size: 1.2vh;
    }

    #se8_1280_p {
        display: block;
    }

    #se8_1280click {
        display: block;
        width: 404px;
        height: 54px;
        background-color: #465D51;
        border-radius: 3px;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 300;
        text-align: center;
        line-height: 54px;
    }

    /* 1280px section_8 end */

    #fot_wrap {
        padding: 34px 40px;
    }

    #fot_top {
        align-items: flex-end;
    }
    
    #fot_top_left {
        flex-direction: column-reverse;
    }

    #fot_logo {
        margin-top: 40px;
    }

    #fot_logo>img {
        width: 110px;
        height: 100%;
    }

    #fot_mid_h {
        flex-direction: column;
    }

    #fot_mid_h>li:nth-child(2) {
        margin: 9px 0;
    }

    #fot_mid_h>li>h1 {
        margin: 3px 0;
    }

    .fot_mid_p {
        display: flex;
    }

    .fot_mid_p4 {
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
    }

    #fot_mid_h>li>h1 {
        font-size: 14px;
    }

    #fot_mid_h>li>.fot_mid_p>h2 {
        font-size: 20px;
    }

    .fot_mid_p>h2, .fot_mid_p>p {
        margin-right: 10px;
    }
    
    #fot_mid_h>li>.fot_mid_p>p, .fot_mid_p4>h3 {
        font-size: 14px;
        margin-top: 3px;
    }

    /* 1280px footer end */

}

@media all and (max-width: 760px) {

    #section_3 {
        max-width: 760px;
        height: 634px;
    }

    .se3_img_con {
        width: 100%;
        height: 382px;
        background-image: url(../frienderma_img/se3_760_img.png);
        background-repeat: no-repeat;
    }

    #se3_left_box {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }

    #se3_left_box>h1 {
        font-size: 50px;
    }

    #se3_left_box>p {
        font-size: 18px;
        text-align: left;
        margin-top: 5px;
    }
    /* 760_section_3 end */

    #section_4 {
        max-width: 760px;
        height: 100%;
    }

    .se4_img_con {
        width: 713px;
        height: 382px;
        background-image: url(../frienderma_img/se4_760_img.png);
        background-repeat: no-repeat;
    }

    #se4_right_box {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }

    #se4_right_box>h1 {
        font-size: 50px;
    }

    #se4_right_box>p {
        font-size: 18px;
        text-align: left;
        margin-top: 5px;
    }


    .plus_box {
        padding: 10px 20px;
    }

    /* 760_section_4 end */

    #se5_wrap {
        padding: 115px 88px 79px 88px;
    }

    .se5_bottom_con {
        width: 108px;
        height: 108px;
        /* background-color: #ffffff; */
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .se5_bottom>li, .se5_bottom2>li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
    }

    /* 760_section_5 end */

    .se6_cons>img {
        width: 210px;
        /* height: 150px; */
    }

    .se6_bottom_cons {
        overflow: scroll;
    }

    .se6_bottom_cons>li {
        margin-right: 0;
    }

    /* 760_section_6 end */
    
    #se7_top>h1 {
        font-size: 36px;
        text-align: center;
    }

    #se7_top>p {
        font-size: 16px;
        margin: 11px 0 57px 0;
        text-align: center;
    }

    
    #se7_bottom {
        display: none;
    }

    #se7_bottom2 {
        width: 100%;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        /* background-color: antiquewhite; */
    }

    .se7_con {
        height: 70px;
        /* background-color: aquamarine; */
        width: auto;
        display: flex;
        position: relative;
    }

    .se7_con>img {
        object-fit: contain;
        margin-right: 80px;
    }

    .middle_con {
        margin: 30px 0;
    }

    .top_con, .bottom_con {
        animation: slideright infinite 10s linear forwards;
    }

    .middle_con {
        animation: slideleft infinite 10s linear forwards;
    }
    

    @keyframes slideright {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(20%);
        }
    }

    @keyframes slideleft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-20%);
        }
    }

    /* 760px section_7 end */

    #se8_wrap>h1 {
        font-size: 36px;
    }

    #se8_left_con{
        width: 100%;
    }

    #se8_top2>p {
        font-size: 3vw;
        width: 133px;
    }

    #se8_top1>h2 {
        font-size: 25px;
    }

    #se8_1280click {
        width: 90%;
        height: 20%;    
    }

    /* 760px section_8 end */

    #fot_wrap {
        padding: 34px 23px 15px 23px;
    }

    #fot_top {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .fot_top_icon>li {
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    #fot_logo {
        margin: 20px 0px;
    }

    #fot_top_left>h1 {
        font-size: 2vw;
    }

    #fot_top_left>h1>span {
        margin: 15px;
    }

    #fot_mid {
        margin: 20px 0 33px 0;
    }

    .fot_mid_p {
        flex-direction: column;
    }

    /* 760px footer end */

}


@media all and (max-width: 380px) {

    #section_1 {
        height: 80vh;
    }

    #se1_1280con>h1 {
        font-size: 36px;
        line-height: 40px;
    }

    #se1_1280con>p {
        font-size: 22px;
    }

    /* 380px section_1 end */


    #se2_con {
        width: 85%;
        margin: 0;
        padding: 120px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #se2_con>h1 {
        font-size: 47px;
        margin-bottom: 23px;
        line-height: 60px;
    }
    
    #se2_con>p {
        font-size: 16px;
        line-height: 26px;
    }

    /* 380_section_2 end */

    #section_3, #section_4 {
        padding: 0 15px;
        height: 100%;
    }

    #se3_left_box {
        padding: 0;
    }

    .se3_img_con, .se4_img_con {
        width: 345px;
        height: 300px;
        margin: 0;
    }

    #se3_left_box>h1, #se4_right_box>h1 {
        font-size: 38px;
    }

    #se3_left_box>p, #se4_right_box>p {
        font-size: 14px;
        line-height: 26px;
    }

    /* 380_section_3,4 end */

    #section_5 {
        margin-top: 100px;
    }

    #se5_wrap {
        padding: 95px 15px;
    }

    .se5_bottom_wrap {
        display: flex;
        flex-direction: column;
        /* padding: 0 20px; */
        box-sizing: border-box;
        justify-content: space-between;
    }

    .se5_bottom_con {
        width: 80px;
        height: 80px;
        /* background-color: #ffffff; */
        /* margin-bottom: 15px; */
        border-radius: 2px;
        margin: 0 8px 15px 0;
    }    

    .se5_bottom, .se5_bottom2 {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .se5_bottom>li, .se5_bottom2>li {
        margin: 30px 0 0 0;
        font-size: 16px;
    }

    .se5_bottom>li:nth-child(4), .se5_bottom2>li:nth-child(4) {
        margin-top: 30px;
    }

    /* 380_section_5 end */

    #se6_wrap {
        padding: 100px 15px;
    }

    .se6_cons>img {
        width: 210px;
    }

    .se6_cons>h2 {
        font-weight: 400;
    }

    /* 380_section_6 end */

    .se7_con {
        height: 50px;
    }

    .se7_con>img {
        margin-right: 40px;
        object-fit: contain;
    }

    .top_con, .bottom_con {
        animation: slideright infinite 8s linear forwards;
    }

    .middle_con {
        animation: slideleft infinite 8s linear forwards;
    }

    @keyframes slideright {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(30%);
            }
        }

        @keyframes slideleft {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-30%);
            }
        }

    /* 380_section_7 end */

    #se8_left_con{
        width: 100%;
    }

    #se8_top2>p {
        font-size: 3vw;
        width: 133px;
    }

    #se8_top1>h2 {
        font-size: 25px;
    }

    #se8_1280click {
        width: 90%;
        height: 20%;    
    }

    /* 380_section_8 end */

    #fot_wrap {
        padding: 34px 15px 15px;
    }
    
    #fot_top_left>h1 {
        font-size: 4vw;
        text-align: center;
    }

    #fot_mid_h>li>h1 {
        font-size: 4vw;
    }

    #fot_bottom {
        flex-direction: column;
    }

    #fot_bottom {
        margin-top: 20px;
    }

    #fot_bottom>p {
        font-size: 4vw;
    }

    #fot_top_left>h1>span {
        margin: 8px;
    }

    

    /* 380_footer_end */
}